Solutions/ITAWebStarterFlows/Workflows/ITACancelBooking-30FD9220-7586-EE11-8179-000D3AE86F97.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ita_sharedcommondataserviceforapps_2f8c2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "cd1ca3cf-c336-4efa-bb45-24faccfa4d40"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "type": "object",
              "properties": {
                "bookingId": {
                  "type": "string"
                },
                "userid": {
                  "type": "string"
                }
              }
            },
            "method": "POST"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2f358cda-57ff-49ca-b04a-644c9c4d3a2a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "ita_itaservicebookings",
              "$select": "ita_itaservicebookingid",
              "fetchXml": "<fetch version=\"1.0\" mapping=\"logical\" no-lock=\"false\" distinct=\"true\">\n   <entity name=\"ita_itaservicebooking\">\n      <attribute name=\"ita_itaservicebookingid\"/>\n      <filter type=\"and\">\n         <condition attribute=\"ita_itaservicebookingid\" operator=\"eq\" value=\"@{triggerBody()?['bookingId']}\" />\n         <condition attribute=\"ita_authenticationid\" operator=\"eq\" value=\"@{triggerBody()?['userid']}\" />\n      </filter>\n      \n   </entity>\n</fetch>\n"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Available_or_not": {
          "actions": {
            "Response": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "result": "OK",
                  "message": "Your booking has been cancelled"
                }
              }
            },
            "For_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "ita_itaservicebookings",
                      "recordId": "@items('For_each')?['ita_itaservicebookingid']",
                      "item/statecode": 1,
                      "item/statuscode": 2
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Response_2": {
                "metadata": {
                  "operationMetadataId": "4526cf7a-3313-4aee-bda1-e1ca7fb677d0"
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "result": "ERROR",
                    "error": "You cannot cancel this booking. Please try signing in again"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@length(outputs('List_rows')?['body/value'])",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "cd2c8cfc-54a1-4578-8de4-64d744695cff"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}