Solutions/ITAWebStarterFlows/Workflows/ITADownloadLinkedFile-E1930DB2-F156-EE11-BE6F-002248B1F6C0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ita_sharedcommondataserviceforapps_2f8c2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "2ba9a10d-705b-409c-833b-8e4ad0477fcb"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "GET",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6347a0cc-cdd2-4cc0-97a2-34c6a39a2849"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ita_itafiles",
              "fetchXml": "<fetch version=\"1.0\" mapping=\"logical\" no-lock=\"false\" distinct=\"true\">\n<entity name=\"ita_itafile\">\n<attribute name=\"ita_itafileid\"/>\n<attribute name=\"ita_name\"/>\n<attribute name=\"createdon\"/>\n<attribute name=\"ita_contentfile\"/>\n<attribute name=\"ita_contentfile_name\"/>\n<attribute name=\"ita_externallink\"/>\n<attribute name=\"ita_externaldescription\"/>\n<attribute name=\"ita_itaauthenticationid\"/>\n<order attribute=\"ita_name\" descending=\"false\"/>\n<filter type=\"and\">\n   <condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n   <condition attribute=\"ita_itafileid\" operator=\"eq\" value=\"@{triggerOutputs()['queries']['fileid']}\"/>\n   <condition attribute=\"ita_requestid\" entityname=\"request\" operator=\"not-null\"/>\n</filter>\n\n<link-entity name=\"ita_itafiletorequest\" link-type=\"outer\" visible=\"false\" from=\"ita_file\" to=\"ita_itafileid\">\n   <link-entity name=\"ita_request\" link-type=\"outer\" alias=\"request\" from=\"ita_requestid\" to=\"ita_request\">\n     <filter type=\"and\">\n       <condition attribute=\"ita_requestid\" operator=\"eq\" value=\"@{triggerOutputs()['queries']['objectid']}\" />\n        <condition attribute=\"ita_itaauthenticationid\" operator=\"eq\" value=\"@{triggerOutputs()['queries']['userid']}\" />\n     </filter>\n   </link-entity>\n</link-entity>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Download_a_file_or_an_image": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e334acd5-f378-41e9-bff0-867b6dd386b1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetEntityFileImageFieldContent",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ita_itafiles",
                  "recordId": "@triggerOutputs()['queries']['fileid']",
                  "fileImageFieldName": "ita_contentfile"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Response": {
              "runAfter": {
                "Download_a_file_or_an_image": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a30dcf53-b986-4583-9704-f32c9363c8bd"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Result": true,
                  "Name": "@first(outputs('List_rows')?['body/value'])['ita_contentfile_name']",
                  "Content": "@body('Download_a_file_or_an_image')"
                }
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Response_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "a30dcf53-b986-4583-9704-f32c9363c8bd"
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "Result": false,
                    "Error": "This file does not exist or you have no access to it"
                  }
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@length(outputs('List_rows')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "9a3d97b3-2905-47e1-90f9-1f6c3fff608b"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}