Solutions/ITAWebStarterFlows/Workflows/ITAGetRequestTypes-A151E6DA-2952-EE11-BE6F-000D3AE86F97.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ita_sharedcommondataserviceforapps_2f8c2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "308ab284-8f50-40a6-bdbc-7352549cb128"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "GET",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "List_Request_Types": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "07d20529-ac7e-44c8-87db-f8e41b2cc528"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "entityName": "ita_itarequesttypes"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Response": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "60d99722-a645-419f-93d3-4d51b57bf87e"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@variables('RequestTypes')"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "06be5ea3-219b-4fc9-94e4-9174666ffb2e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RequestTypes",
                "type": "array"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Request_Types')?['body/value']",
          "actions": {
            "Append_to_array_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c7751cf4-97a0-4d90-9a31-6de169781119"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "RequestTypes",
                "value": {
                  "Name": "@{items('Apply_to_each')?['ita_name']}",
                  "Id": "@{items('Apply_to_each')?['ita_itarequesttypeid']}"
                }
              }
            }
          },
          "runAfter": {
            "List_Request_Types": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ee00f8d2-29e7-467d-b623-71656f96c931"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}